{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<!--Sidebar-->
<!-- <div class="sidebar pt-2 pb-5 position-absolute">
    <ul class="">
      <li class="py-2">
        <a href="#" class="text-decoration-none text-white">Dashboard</a>
      </li>
      <li class="py-2">
        <a href="#" class="text-decoration-none text-white">Etudiants</a>
      </li>
      <li class="py-2">
        <a href="#" class="text-decoration-none text-white">Emploi du temps</a>
      </li>
      <li class="py-2">
        <a href="#" class="text-decoration-none text-white">Predictions</a>
      </li>
      <li class="py-2">
        <a href="#" class="text-decoration-none text-white">Salles</a>
      </li>
      <li class="py-2">
        <a href="#" class="text-decoration-none text-white">Professeurs</a>
      </li>
    </ul>
  </div> -->


<!--Main page-->
<div class="main my-4">
  <div class="container-md">
    <h2 class="mb-5">Dashboard</h2>
    <div class="d-flex cards ">
      <div class="me-3 flex-grow-1">
        <h4 class="fw-bold fs-2  ps-3" style="color: rgb(0, 191, 255);">{{ status['total'] }}</h4>
        <p class="ps-3">Total etudiants</p>
      </div>
      <div class="mx-3 flex-grow-1">
        <h4 class="fw-bold fs-2 ps-3" style="color: rgb(122, 27, 27);">{{ status['at_risk'] }}</h4>
        <p class="ps-3">A risque</p>
      </div>
      <div class="mx-3 flex-grow-1">
        <h4 class="fw-bold fs-2 ps-3" style="color: rgb(39, 122, 13);">00</h4>
        <p class="ps-3">Cours actifs</p>
      </div>
      <div class="mx-3 flex-grow-1">
        <h4 class="fw-bold fs-2 ps-3" style="color: rgb(214, 176, 23);">00</h4>
        <p class="ps-3">Salles</p>
      </div>
    </div>
    <div class="row mt-5">

      <div class="col-md-12 col-lg-7 mb-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title border-bottom pb-3">Etudiants a risque par filiere</h5>

            {% set colors = ['red', 'blue', 'green', 'orange', 'purple', 'cyan'] %}
            {% for filiere in at_risk_par_filiere %}
            <div class="box d-flex align-items-center gap-3 my-4">
              <p class="mb-0 w-20" style="width: 120px;">{{filiere}}</p>
              <div class="progress flex-grow-1" style="height: 15px;">
                <div class="progress-bar"
                  style="width: {{at_risk_percentage[filiere]}}%; background-color: {{ colors[loop.index0 % (colors|length)] }};">
                </div>
              </div>
              <p class="mb-0">{{at_risk_par_filiere[filiere]}}</p>
            </div>
            {% endfor %}


          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dernieres predictions</h5>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold bg-light text-body-tertiary">
              <ul class="list-unstyled d-flex w-100 px-3 ">
                <li style="width: 33%;">Nom</li>
                <li style="width: 30%; text-align: center;">Score</li>
                <li style="width: 30%; text-align: right;">Status</li>
              </ul>
            </li>
          </ul>
          <ul class="list-group list-group-flush" style="max-height: 310px; overflow-y: auto;">
            {% for student in students %}
            <li class="list-group-item">
              <ul class="list-unstyled d-flex w-100 px-3"> <!-- Column 100% it has 3 columns so 100 / 3 = 33% -->
                <li style="width: 33%;">{{student['nom']}}</li>
                <li style="width: 33%; text-align: center;">{{student['score']}}%</li>
                <li style="width: 33%; text-align: right;">
                  {% if student['level']=="A risque" %}
                  <span class="badge fw-bold fs-6 rounded-pill risque">{{student['level']}}</span>
                  {% else %}
                  <span class="badge fw-bold fs-6 rounded-pill safe">{{student['level']}}</span>
                  {% endif %}
                </li>
              </ul>
            </li>
            {%endfor%}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}