<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UniSmart</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="../static/css/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
</head>

<body>
  <!--Navbar-->
  <div class="navbar navbar-expand-lg sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">UniSmart</a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu" aria-expanded="false"
        aria-controls="menu" aria-label="Toggle Menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{{url_for('dashboard_page')}}" class="nav-link" role="button">Dashboard</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('students_page')}}" class="nav-link active" role="button">Etudiants</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('timetable_page')}}" class="nav-link" role="button">Emploi du temps</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" role="button">Predictions</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="student-content mt-5">
    <div class="container">
      <div class="d-flex justify-content-between">
        <h4>Liste des etudinats</h4>
        <!-- <button class="btn text-white" style="background-color: rgb(45, 67, 142);">+ Ajouter</button> -->
        <p>Total : {{ total }} etudiants — {{ at_risk }} a risque</p>
      </div>
      <form class="mt-4 mb-4">
        <select name="list de etudiants" class="form-control py-3">
          <option value="">Toutes filieres</option>
        </select>
      </form>

      <table class="table table-hover w-100 border">
        <thead>
          <tr class="fw-bold bg-light ">
            <th scope="col" class="p-3 text-body-tertiary">Nom</th>
            <th scope="col" class="p-3 text-body-tertiary">Filiere</th>
            <th scope="col" class="p-3 text-body-tertiary">Note</th>
            <th scope="col" class="p-3 text-body-tertiary">Assiduite</th>
            <th scope="col" class="p-3 text-body-tertiary">Participation</th>
            <th scope="col" class="p-3 text-body-tertiary">Status</th>
            <th scope="col" class="p-3 text-body-tertiary">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
            <tr class="border">
              <td class="p-3">{{student['nom']}}</td>
              <td class="p-3">{{student['filiere']}}</td>
              <td class="p-3 font-monospace">{{student['note']}}</td>
              <td class="p-3 font-monospace">{{student['assiduite'] | int}}%</td>
              <td class="p-3 font-monospace">{{student['participation'] | int}}%</td>
              <td class="p-3">
                {% if student['at_risk'] == 1 %}
                  <span class="badge fw-bold fs-6 rounded-pill risque">A risque</span>
                {% else %}
                  <span class="badge fw-bold fs-6 rounded-pill safe">safe</span>
                {% endif %}
              </td>
              <td>
                <button class="btn btn-outline-success">Voir</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

  <!--Bootstrap for Js-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html>